@import "../../../../styles/thinline-mixins";

:host {
    display: block;
    height: 100%;
    width: 100%;
}

.lcd-frame {
    @include tlr-lcd-face;
    @include tlr-bezel;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.lcd-frame.with-scanlines {
    @include tlr-scanlines;
}
