@if (todos.length) {
  <mat-card appearance="outlined">
    <mat-card-title>Todos</mat-card-title>
    <mat-list>
      @for (todo of todos; track todo) {
        <mat-list-item>
          @if (todo.level === 'info') {
            <mat-icon class="info" matListItemIcon>notifications</mat-icon>
          }
          @if (todo.level === 'warn') {
            <mat-icon class="warn" matListItemIcon>warning</mat-icon>
          }
          <div mat-line>
            <span class="todo">{{ todo.message }}</span>
          </div>
        </mat-list-item>
      }
    </mat-list>
  </mat-card>
}